@CHARSET "ISO-8859-1";

body, html {
	height:100%;
	overflow:hidden;
}

h1 {
	margin:0;
	padding:0;
}

h1#title {
	font-weight:bold;
	padding-top:20%;
	text-align:center;
}

p {
	text-align:center;
}

p#button {
	padding-top:4em;
}

a.btn {
	border-radius:0.25em;
	font-size:2em;
}

p#subtitle {
	font-weight:bold;
}

div#beranda, div#borang {
	height:100%;
	-webkit-transition: -webkit-transform 1.5s ease-in-out;
            transition:         transform 1.5s ease-in-out;
}

div#beranda {
	background:#55ACEE;
	color:#f5f8fa;
}

a[id="beranda"]:target ~ div {
    -webkit-transform:translateY(0);
            transform:translateY(0);
}

a[id="borang"]:target ~ div {
    -webkit-transform:translateY(-703px);
            transform:translateY(-703px);
}

footer {
	margin-top:14%;
	text-align:center;
}